/* Define the initial position of the image header */
.img-header {
    transition: transform 1s ease-in-out;
  }
  
  /* Define the animation for sliding to the next image */
  .slide-next {
    transform: translateX(-100%);
  }
  
  /* Define the animation for sliding to the previous image */
  .slide-prev {
    transform: translateX(100%);
  }
  