.h-container{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;
}

.h-up-side , .h-bottom-side{
    display: flex;
    width: 100%;
    height: 60%;
    margin: 0.5rem;
    text-align: center;
}
h1 , h3{
    text-align: center;
}

.reverse > * {
    flex-direction: column-reverse;
}
